body {
    font-size: 12pt;
}

header {
    background-color: gainsboro;
}

.container {
    padding: 15px;
}

.user-container {
    float: right;
}

    nav > a,
    .user-container > a,
    .user-container > form > a {
        margin: 0 5px;
        font-size: 12pt;
        text-decoration: none;
        color: dimgrey;
    }

        nav > a:hover,
        nav > a:active,
        .user-container > a:hover,
        .user-container > a:active,
        .user-container > form > a:hover,
        .user-container > form > a:active {
            text-decoration: none;
            color: black;
            font-size: 14pt;
        }

.big-message {
    display: block;
    text-align: center;
    font-size: 20pt;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}

input[type=submit] {
    width: 150px;
}

table,
.display-flex {
    display: flex;
}

.required-field {
    border-color: darkred;
}

.search-form {
    margin: 4px 0 8px 0;
}


.basket-button-input {
    width: 50px;
    margin: 0 5px;
}

.basket-count-input {
    width: 100px !important;
    text-align: center;
}

input[type=text],
input[type=password],
input[type=email],
input[type=datetime],
input[type=number],
input[type=tel] {
    width: 300px;
}

textarea {
    width: 300px !important;
}