body {
    font-size: 12pt;
}

header {
    background-color: gainsboro;
}

.container {
    padding: 15px;
}

.user-container {
    float: right;
}

    nav > a,
    .user-container > a,
    .user-container > form > a {
        padding: 0 5px;
        font-size: 12pt;
        text-decoration: none;
        color: darkgray;
    }

    nav > a:hover,
    .user-container > a:hover,
    .user-container > form > a:hover {
        text-decoration: none;
        color: black;
        font-size: 14pt;
    }

.message {
    text-align: center;
}

input[type=text],
input[type=password],
input[type=email],
input[type=datetime],
input[type=number],
textarea {
    width: 300px !important;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}

input[type=submit] {
    width: 150px;
}

table {
    display: flex;
}

.required-field {
    border-color: yellow;
}